<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Contacto</title>
</head>
<body>
    <div class="navbar">
        <a href="/">Inicio</a>
        <a href="/instrucciones">Instrucciones</a>
        <a href="/contacto">Contacto</a>
    </div>
    <div class="container">
        <h1>Contacto</h1>
        <ul>
            <li><b>WhatsApp:</b> <a href="https://api.whatsapp.com/send?phone=584127003035" target="_blank">Enviar mensaje</a></li>
            <li><b>Correo:</b> <a href="mailto:soporteexpress@gmail.com">soporteexpress@gmail.com</a></li>
            <li><b>Ubicación:</b> Venezuela</li>
            <li><b>Nombre:</b> Nilzo Farias</li>
        </ul>
    </div>
    <footer>© 2024 Express. Todos los derechos reservados.</footer>
</body>
</html>
